/**:
  ros__parameters:
    sub_topic: "/fls_publisher/display_mono"
    pub_topic: "/filtered_image"
    output_encoding: "mono8"
    input_encoding: "mono8" 
  
    filter_params:
      filter_type: "example"
      flip:
        flip_code: 1
      unsharpening:
        blur_size: 8
      erosion:
        size: 1
      dilation:
        size: 3
      white_balancing:
        contrast_percentage: 10.0
      ebus:
        erosion_size: 2
        blur_size: 30
        mask_weight: 5
      otsu:
        gsc_weight_r: 1.0  # Grayscale red weight
        gsc_weight_g: 0.0  # Grayscale green weight
        gsc_weight_b: 0.0   # Grayscale blue weight
        gamma_auto_correction: true
        gamma_auto_correction_weight: 4.0
        otsu_segmentation: true
        erosion_size: 2
        dilation_size: 2
      overlap:
        percentage_threshold: 20.0 # Percentage (0-100) to cap the pixcel intensity differance
      median_binary: # finds the median of each n x n square around each pixel 
        kernel_size: 3 # must be odd >= 1
        threshold: 100 # [0, 255]
        invert: false
      binary: 
        threshold: 20. # in percent
        maxval: 255.
        invert: true
      
      # TODO: add your filterparameters here
      example:
        example_int: 1
        example_string: "Get filtered"


# Filter params should reflect the FilterParams struct
# defined in /include/image_filters/image_processing.hpp
